@use "../../abstracts" as *;

.footer {
  grid-area: footer;
  height: $height-footer;
  background-color: var(--color-background-primary);
  box-sizing: border-box;
  border: 0px solid var(--color-secondary);
  border-top-width: 2px;
  padding: $space-s 0;
  position: relative;
  z-index: $z-base;

  @media only screen and (max-width: $breakpoint-tablet) {
    & {
      height: 150px;
    }
  }
  .row--theme {
    width: fit-content;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: $space-l;
    @media only screen and (max-width: $breakpoint-tablet) {
      & {
        position: relative;
        right: 0;
        padding: 0 $space-l;
      }
    }
    .column {
      &:first-child {
        margin-right: $space-s;
      }
      &:last-child {
        margin-left: $space-s;
      }

      @media only screen and (max-width: $breakpoint-tablet) {
        &:first-child {
          margin-right: 0px;
        }
        &:last-child {
          margin-left: 0px;
        }
      }
      margin-bottom: $space-l;
    }
    .button {
      width: 100%;
      min-width: 200px;
      @media only screen and (max-width: $breakpoint-tablet) {
        & {
          max-width: 100%;
        }
      }
    }
    @media only screen and (max-width: $breakpoint-tablet) {
      & {
        width: 100%;
      }
    }
  }
}
