@use "../../abstracts" as *;

#root .card--employment {
  background-color: transparent;
  display: inline-table;
  h4 {
    color: var(--color-primary);
    margin-bottom: $space-s;
  }
  h5 {
    color: var(--color-secondary);
    margin-bottom: $space-l;
    font-size: 24px;
  }
  h6 {
    margin-bottom: $space-l;
  }
  &_industry {
    font-style: italic;
  }
  ul {
    margin: 0 0 0 0;
  }
  @media only screen and (max-width: $breakpoint-tablet) {
    h4,
    h5,
    h6 {
      text-align: center;
    }
    h4 {
      font-size: 22px;
    }
    h5,
    h6 {
      font-size: 20px;
    }
    &_date {
      font-size: 18px;
    }

    &_industry {
      margin-bottom: $space-l;
      font-size: 15px;
    }
    &_text {
      font-size: 16px;
    }
    &_list_skill {
      font-size: 15px;
    }
  }
  &_list {
    list-style-type: none;
    display: inline-block;
    white-space: nowrap;
    font-size: 20px;
    padding-left: 0px;
    .icon {
      display: inline-block;
      margin-right: $space-s;
    }
    &_skill {
      margin-bottom: $space-m;
      .icon path {
        fill: var(--color-primary);
      }
      &:nth-child(even) {
        .icon path {
          fill: var(--color-secondary);
        }
      }
    }
  }
  &_text {
    margin-bottom: $space-m;
  }
}
