@use "../../abstracts" as *;

nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: end;
  a {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    position: initial;
    align-self: center;
    &.active {
      color: var(--color-text);
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-top-color: var(--color-text);
        border-bottom: 0px;
        bottom: $space-s;
        left: 50%;
        transform: translateX(calc(-50% - 10px));
      }
    }
    &:hover {
      color: var(--color-text);
    }
  }
}

div.header_column {
  max-width: fit-content;
  a {
    padding-right: $space-s;
    margin-right: $space-s;
    border: 0px solid var(--color-primary);
    border-right-width: 2px;
  }
}
div.header--cta_column {
  max-width: 200px;
}
