@use "../../abstracts/" as *;

.anchor {
  text-decoration: none;
  border-style: solid;
  border-width: 0 0 2px 2px;
  padding: 0 $space-s $space-xs $space-s;
  border-bottom-left-radius: $border-radius;
  max-width: max-content;
  font-size: 20px;
  @media only screen and (max-width: $breakpoint-tablet) {
    font-size: 15px;
  }
}

[theme-mode="light"] {
  .anchor {
    color: $color-success;
    border-color: $color-success;
  }
}

[theme-mode="dark"] {
  .anchor {
    color: $color-caution;
    border-color: $color-caution;
  }
}
