@use "../../abstracts/" as *;

.button {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: $height-button;
  border-radius: $border-radius;
  cursor: pointer;
  border: 2px solid var(--color-text-primary);
  font-weight: 700;
  &_text {
    color: inherit;
  }

  @each $name, $color, $textColor in $color-theme-text {
    @include background-colors-theme($name, $color, $textColor, 1, true);
  }
}
