@use "../../../abstracts" as *;

.cloud-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    var(--color-background-secondary) 60%,
    var(--color-secondary)
  );
  overflow: hidden;
  &--intro {
    @include animate-slide-in_bottom-vertical(100px, $speed-100);
  }
  &--outro {
    @include animate-slide-out_bottom-vertical(100px, $speed-100);
  }
}
.cloud-background .cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../../../../Professional-Portfolio//assets/images/wave-white.png);
  background-size: 1000px 100px;
}
.cloud-background .cloud.cloud--1 {
  z-index: $z-background-5;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
  @include animate-wave(10s);
}
.cloud-background .cloud.cloud--2 {
  z-index: $z-background-4;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
  @include animate-wave(15s, false);
}
.cloud-background .cloud.cloud--3 {
  z-index: $z-background-3;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
  @include animate-wave(10s);
}
.cloud-background .cloud.cloud--4 {
  z-index: $z-background-2;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 25px;
  @include animate-wave(5s, false);
}

.cloud-background .cloud.cloud--5 {
  z-index: $z-background-1;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 30px;
  @include animate-wave(5s);
}
