@use "./animate" as animate;

@mixin animate-fade-in($duration) {
  @include animate.animate(animate-fade-in, $duration, linear, 1);

  @include animate.keyframes(animate-fade-in) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin animate-fade-out($duration) {
  @include animate.animate(animate-fade-out, $duration, linear, 1);

  @include animate.keyframes(animate-fade-out) {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@mixin animate-fade-blink($duration, $times: 1, $opacity: 1) {
  @include animate.animate(animate-fade-blink, $duration, linear, $times);

  @include animate.keyframes(animate-fade-blink) {
    0% {
      opacity: $opacity;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: $opacity;
    }
  }
}

@mixin animate-flip-in-right($duration) {
  @include animate.animate(animate-flip-in-right, $duration, linear, 1);

  @include animate.keyframes(animate-flip-in-right) {
    from {
      opacity: 0;
      transform: perspective(1000px) translateX(100%) rotateY(90deg);
    }
    to {
      opacity: 1;
      transform: perspective(1000px) translateX(0) rotateY(0deg);
    }
  }
}

@mixin animate-flip-in-left($duration) {
  @include animate.animate(animate-flip-in-left, $duration, linear, 1);

  @include animate.keyframes(animate-flip-in-left) {
    from {
      opacity: 0;
      transform: perspective(1000px) translateX(-100%) rotateY(-90deg);
    }
    to {
      opacity: 1;
      transform: perspective(1000px) translateX(0) rotateY(0deg);
    }
  }
}
